/* FONTS: */
h1, h2, h3, .h1, .h2, .h3{

    font-family: 'Lobster', cursive;

}

*{

    font-family: 'Dancing Script', cursive;
}

/* Variabili colori */
:root{
    --pink: rgb(255, 201, 214);
    --salmon: rgb(255, 208, 168);
    --skyblue: rgb(17, 154, 191); 
    --lightYellow: rgb(255, 243, 170);
    --light: rgb(255, 254, 245);
    --lightBlue: rgb(217, 209, 255);
}

body{
    background-color: var(--skyblue);

    overflow-x: hidden;
}

.text-pink{
    color: var(--pink);
}

.bg-pink{
    color: var(--pink);
}

.text-salmon{
    color:var(--salmon);
}

.bg-salmon{
    color:var(--salmon);
}

.text-skyblue{
    color:var(--skyblue);
}

.bg-skyblue{
    color:var(--skyblue);
}

.text-lightYellow{
    color:var(--lightYellow);
}

.bg-lightYellow{
    color:var(--lightYellow);
}

.text-light{
    color:var(--light);
}

.text-lightBlue{
    color:var(--lightBlue);
}

.bg{
    color: var(--lightBlue);
}

/* HEADER */
.header{

    background: linear-gradient(rgba(217, 209, 255,0.77), rgba(17, 153, 191, 0.547)), url(./media/header.png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--skyblue);
}

/* NAVBAR */
#mainNav{
    background-color: #119abf;
}
.nav-link{

    color: var(--pink);
    border-bottom: 2px solid var(--pink);
    margin: 0px 10px;
    padding: 0px;
  
}

.nav-link:hover{

    color:var(--light);
    border-bottom: 2px solid var(--light);
}

.btn-outline-light{

    border: 2px solid var(--pink);
    transition:0.4s;
}

.btn-outline-light:hover{

    border: 2px solid var(--skyblue);
    color:var(--light);
    background-color: var(--salmon);
    
}

.logoT{
    width:120px;
    filter: drop-shadow(5px 2px 2px #119abf);
}

.logoS{
    width: 60px;
    filter: drop-shadow(5px 2px 2px #119abf);

}

#logoCarrello, #logoShopper{
    transition:0.4s;
}

#navIcon{
    transition: 0.4s;
}

/* Section animated */
.dress{
    width:400px;
}

.increment-numbers{
    color: var(--pink);
    font-size: 100px;
    
}

/* SWIPER */
.swiper {
    /* width: 600px;  */
    /* > si prende così la larghezza */
    height: 600px;
  }

.card-custom{
    height: 400px;
    width: 500px;
    border: 2px solid var(--pink);
    border-radius: 20%;
    background-color: var(--pink);
    color: var(--light);
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* MOUSE ENTER */
.container-custom{

    background-color: var(--lightBlue);
    
}

.col-custom{
    border:3px solid var(--skyblue);
    font-size: 25px;
    color:var(--skyblue);
    

    padding:20px;
    transition: 0.4s;
}

.col-custom:hover{
    background-color: var(--salmon);
    color: var(--skyblue);
    transform: scale(1.1);
}


.card-anchor{
    text-decoration:none;
    font-size: 20px;
    font-weight: bold;
    color: var(--skyblue);
}

.card-anchor:hover{

    color: var(--lightBlue);
}

#cardWrapper{
    margin-bottom: 100px;
}

/* footer */
.footer{
    background-color: var(--lightBlue);
    height: 100px;

}

.logoFooter{
    height: 30px;
    width: 30px;
}